<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCHTCnk-9lKx-BUEZDwaUKaRpsK_IyDt8w</string>
	<key>GCM_SENDER_ID</key>
	<string>102075739158</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galaxies.mindmatter</string>
	<key>PROJECT_ID</key>
	<string>mindmatter-dd722</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmatter-dd722.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102075739158:ios:6a193c87503f1914625937</string>
</dict>
</plist>